@model MagicApps.Models.PopoverModel
<a class="btn-icon-popover" href="javascript://" tabindex="-1" title="@Model.Title" data-toggle="popover" data-trigger="hover focus" data-container="body" data-content="@Model.Content" data-html="true"><i class="fa fa-info-circle"></i></a>