




<footer class="footer-content">
    <div class="footer-text d-flex align-items-center justify-content-between">
        <div class="copy">Copyright &copy; @DateTime.Today.Year, @Settings.COMPANY_NAME</div>
        @*<div class="credit">Powered by: <a href="">Evolution Studios Uganda</a></div>*@
        <div class="credit"><img src="~/Content/coreAssets/dist/img/logo/ammonite.png" style="height:25px;width:25px;"/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
    </div>
</footer><!--/.footer content-->
<div class="overlay"></div>