@model BwinoTips.WebUI.Models.Registrations.SubscriptionStatus
@{
    Layout = null;
}


<div class="col-md-6 col-lg-6">
    <!--Outage warning-->
    <div class="p-2 bg-success text-black rounded mb-3 p-3 shadow-sm text-center position-relative overflow-hidden">
        <div class="header-pretitle fs-11 font-weight-bold text-uppercase mb-2 text-white">Subscription Date</div>
        <i class="decorative-icon fas fa fa-thumbs-o-up opacity-25 fa-5x animated infinite pulse slower"></i>
        <pre class="fs-15 bg-dark text-white rounded p-2 mb-0" style="text-align:center;"><code>@Model.SubscritionDate</code></pre>
    </div>
</div>

<div class="col-md-6 col-lg-6">
    <!--Active users indicator-->
    <div class="p-2 bg-danger text-black rounded mb-3 p-3 shadow-sm text-center position-relative overflow-hidden">
        <div class="header-pretitle fs-11 font-weight-bold text-uppercase mb-2 text-white">Expiry Date</div>
        <i class="decorative-icon fas fa fa-thumbs-o-down opacity-25 fa-5x animated infinite pulse slower"></i>
        <pre class="fs-15 bg-dark text-white rounded p-2 mb-0" style="text-align:center;"><code>@Model.ExpiryDate</code></pre>
    </div>
</div>





@*<div class="col-md-12 col-lg-12 col-xl-3 mb-4">

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0">Account Status</h6>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class=table-responsive>
                <table class="table display table-bordered table-striped table-hover bg-white m-0 card-table">
                    <thead>
                        <tr>
                            <th>Pay Date</th>
                            <th>Expiry Date</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <span class="badge badge-success">@Model.SubscritionDate</span>
                                </div>
                            </td>

                            <td>
                                <div>
                                    <span class="badge badge-danger-soft">@Model.ExpiryDate</span>
                                </div>
                            </td>
                        </tr>
                </tbody>
                </table>
                </div>
                </div>

        </div>

   <hr />
    <div class="card mb-4">
        <img src="~/Content/BlogImages/betpawa.jpg" alt="..." class="card-img-top">
    </div>

    <hr />
    <div class="p-2 bg-white rounded p-3 mb-3 shadow-sm">
        <div class="header-pretitle text-muted fs-12 font-weight-bold text-uppercase mb-2">
            Online Betting Platforms
        </div>

        <div class="text-muted">
            <i class="fas fa fa-caret-up text-success"></i>
            <a href="https://www.betpawa.ug/" target="_blank">Betpawa Uganda</a>
        </div>

        <div class="text-muted">
            <i class="fas fa fa-caret-up text-success"></i>
            <a href="https://www.betway.ug/" target="_blank">Betway Uganda</a>
        </div>

        <div class="text-muted">
            <i class="fas fa fa-caret-up text-success"></i>
            <a href="https://www.bet365.com/#/HO/" target="_blank">Bet365</a>
        </div>

        <div class="text-muted">
            <i class="fas fa fa-caret-down text-danger"></i>
            <a href="https://1xbet.ug/" target="_blank">1xBet</a>
        </div>


        <div class="text-muted">
            <i class="fas fa fa-caret-up text-success"></i>
            <a href="https://www.quickbetsug.com/en-ug/" target="_blank">Quickbets UG</a>
        </div>

        <div class="text-muted">
            <i class="fas fa fa-caret-down text-danger"></i>
            <a href="https://www.beton.co.ug/sportsbet/main" target="_blank">Beton</a>
        </div>

    </div>

    <hr />
    <div class="d-flex position-relative overflow-hidden flex-column p-3 mb-3 bg-white shadow-sm rounded">
        <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">Our paid subscriptions</div>
        <i class="fas fa fa-smile opacity-25 fa-5x text-warning decorative-icon"></i>

        <div class="text-muted">
            <strong> WEEKLY SUBSCRIPTIONS</strong>
            <span class="text-success text-size-1 text-monospace">
                20,000 Ugx
            </span>
        </div>

        <div class="text-muted">
            <strong>MONTLY SUBSCRIPTIONS</strong>
            <span class="text-success text-size-1 text-monospace">
                50,000 Ugx
            </span>
        </div>

        <div class="text-muted">
            <strong>YEARLY SUBSCRIPTIONS</strong>
            <span class="text-success text-size-1 text-monospace">
                150,000 Ugx
            </span>
        </div>

    </div>

    </div>*@




