@model BwinoTips.WebUI.Models.News.ArticlesViewModel
@{
    Layout = null;
}

  <!--Main Banner Start-->
<div class="main-banner">
    <!--Banner Slide Wrap Start-->
    <ul class="slider-for2 ">
        <li>
            <!--Banner Thumb START-->
            <a href="" data-rel="prettyphoto[]">
                <img src="@Url.Content("~/Content/coreAssets/images/banner/banner1.jpg")" alt="">
                <div class="kode-caption-wrapper position-left">
                    <div class="kode-caption-inner container">
                        <div class="kode-caption border-top">
                            <div class="kode-caption-title">Welcome to Shua Bets Kenya</div>
                            <div class="kode-caption-text"></div>
                            <div class="kode_btn_store_1 theme-color" style="color:white;">100%  SHUA soccer betting tips !</div>
                        </div>
                    </div>
                </div>
            </a>
            <!--Banner Thumb End-->
        </li>
        @*<li>
                <!--Banner Thumb START-->
                <a href="#" data-rel="prettyphoto[]" target="_blank">
                    <img src="@Url.Content("~/Content/coreAssets/images/banner/banner1.jpg")" alt="">
                    <div class="kode-caption-wrapper position-center">
                        <div class="kode-caption-inner container">
                            <div class="kode-caption border-top">
                                <div class="kode-caption-title">Go back to early days of battle</div>
                                <div class="kode-caption-text"></div>
                                <div class="kode_btn_store_1 theme-color">Read More<i class="lnr lnr-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!--Banner Thumb End-->
            </li>
            <li>
                <!--Banner Thumb START-->
                <a href="#" data-rel="prettyphoto[]" target="_blank">
                    <img src="extra-images/banner3.jpg" alt="">
                    <div class="kode-caption-wrapper position-right">
                        <div class="kode-caption-inner container">
                            <div class="kode-caption border-top">
                                <div class="kode-caption-title">Go back to early days of battle</div>
                                <div class="kode-caption-text"></div>
                                <div class="kode_btn_store_1 theme-color">Read More<i class="lnr lnr-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!--Banner Thumb End-->
            </li>
            <li>
                <!--Banner Thumb START-->
                <a href="#" data-rel="prettyphoto[]" target="_blank">
                    <img src="extra-images/banner4.jpg" alt="">
                    <div class="kode-caption-wrapper position-right">
                        <div class="kode-caption-inner container">
                            <div class="kode-caption border-top">
                                <div class="kode-caption-title">Go back to early days of battle</div>
                                <div class="kode-caption-text"></div>
                                <div class="kode_btn_store_1 theme-color">Read More<i class="lnr lnr-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
                <!--Banner Thumb End-->
            </li>*@
    </ul>
    <!--Banner Slide Wrap End-->
    <!--Banner Slide Navigation Wrap Start-->
    <ul class="slider-nav2">
        <li>

            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="#">BETWAY KOBS V Stanbic Black Pirates. Top billing on Women’s Day as a title decider.</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-clock"></i>8/03/2019</span>
                </div>
            </div>
            <!--Banner Thumb  End-->

        </li>

        @*<li>
                <!--Banner Thumb  Start-->
                <div class="banner-thumb">
                    <div class="text">
                        <h5><a href="#">BETWAY KOBS V Stanbic Black Pirates. Top billing on Women’s Day as a title decider.</a></h5>
                        <span class="rgb-date"><i class="lnr lnr-clock"></i>8/03/2019</span>
                    </div>
                </div>
                <!--Banner Thumb  End-->
            </li>
            <li>
                <!--Banner Thumb  Start-->
                <div class="banner-thumb">
                    <div class="text">
                        <h5><a href="#">Toyota Buffaloes V BETWAY KOBS. Match day 16 at Kyadondo Rugby Club</a></h5>
                        <span class="rgb-date"><i class="lnr lnr-clock"></i> 2/3/2019</span>
                    </div>
                </div>
                <!--Banner Thumb  End-->
            </li>
            <li>
                <!--Banner Thumb  Start-->
                <div class="banner-thumb">
                    <div class="text">
                        <h5><a href="#">BETWAY KOBS VS Plascon Mongers. Expected to be a tricky but winnable fixture.</a></h5>
                        <span class="rgb-date"><i class="lnr lnr-clock"></i>23/2/2019</span>
                    </div>
                </div>
                <!--Banner Thumb  End-->
            </li>*@
    </ul>
    <!--Banner Slide Navigation Wrap End-->
</div>
<!--Main Banner End-->