@model BwinoTips.WebUI.Models.Users.SearchUsersModel
@{ 
    SelectList roles = new SelectList(Model.Roles.Select(x => new KeyValuePair<string, string>(x, x)), "Key", "Value", Model.RoleName);
}


@using (Html.BeginForm("Index", "Users", new { @class = "comment-form", id = "commentform" }))
{
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="kf_commet_field">
                    @Html.Bootstrap().TextBoxFor(m => m.Name).Placeholder().PrependIcon("glyphicon glyphicon-user")
                </div>
            </div>

            <div class="col-md-3">
                <div class="kf_commet_field">
                    @Html.Bootstrap().TextBoxFor(m => m.PhoneNumber).Placeholder().PrependIcon("glyphicon glyphicon-envelope")
                </div>
            </div>

            @*<div class="col-md-3">
                    <div class="kf_commet_field">
                        @Html.Bootstrap().TextBoxFor(m => m.Date).HtmlAttributes(new { id = "datetimepicker1" })
                    </div>
                </div>*@

            <div class="col-md-3">
                <p class="form-submit">
                    @Html.Bootstrap().SubmitButton().Text("Search").Class("submit btn-1 theme-background").Name("method").Value("Filter").Style(ButtonStyle.Success)
                </p>
            </div>

        </div>
    </div>

}
